{% extends 'pages/base.html' %}
{% block title %}'Home Page - Online Store'{% endblock %}
{% block header_title %}Data{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% for archivo in archivos %}
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <!-- Si tienes imágenes asociadas a los archivos, puedes mostrarlas aquí -->
        <div class="card-body">
          <h5 class="card-title">{{ archivo.nombre }}</h5>
          <img class="card-img-top" src="{{ archivo.archivo.url }}" alt="{{ archivo.nombre }}">
          <p class="card-text">{{ archivo.archivo.url }}</p>
          <!-- Aquí puedes agregar más información sobre el archivo si lo deseas -->
          <a href="{% url 'detalle_archivo' archivo.id %}" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
