{% extends 'pages/base.html' %}
{%  block title %}'Home Page - Online Store'{% endblock %}
{% block header_title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>ReceiptStruct Project</title>
</head>
<body>
    <h1>Taller 01</h1>
    <h2>Sobre el proyecto</h2>
    <p>El proyecto ReceiptStruct pretende digitalizar y estructurar la información no estructurada hallada en las imágenes de recibos de compra de los establecimientos comerciales. Como usuario, la plataforma proveerá de un registro y login, podrá seleccionar un conjunto de imágenes de recibos y cargarlos a la misma, para su posterior estructuración; una vez estructuradas la plataforma enviará una notificación vía correo electrónico notificándole si su información ha podido, o no, ser estructurada.</p>

    <p>Para más detalles, te invitamos a leer la wiki del proyecto. </p>
    <a href="https://github.com/FoxntaU/Taller1-TopDeSoft/wiki">link</a>
</body>
</html>

{% endblock %}
